header{
    background-color: #9EA2A8;
}
h1{
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}
a{
    color: #000000;
    background-color:#c3c5c7;
}
aside{
    display: none;
}
h2{
    text-transform: uppercase;
    color: #192275;
}
section{
    background-color: #838596;
    font-family:'Times New Roman', Times, serif;
    font-size: 105%;
}